<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Mensajes</title>
    
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  	  <style>
        html, body {
          height: 100%;
          background-image: linear-gradient(to right bottom, lightskyblue, lightcoral);
        }
      </style>
  </head>

  <body id="page-top">

    <header class="masthead col-12">
    <div class="row p-5">
      <div class="col-8">
        
        <div class="mb-5"> <!--  mis datos -->
			<div th:switch="${#lists.isEmpty(usuarios)}">
			  <div id="noHayUsuarios" th:case="true">
			  		<p>No hay usuarios</p>
			  </div>
			  <div id="hayUsuarios" th:case="false">
				    <table class="table table-hover table-dark table-sm ">
				      <tr class="thead-dark">
				        <th>Usuario</th>
				        <th>Nombre</th>
				        <th>Apellidos</th>
				        <th>Correo</th>
				        <th>Telefono</th>
				        <th></th>
				      </tr>
				      <tr th:each="usuario: ${usuarios}">
				        <td th:text="${usuario.nombreUsuario}"></td>
				        <td th:text="${usuario.nombre}"></td>
				        <td th:text="${usuario.apellidos}"></td>
				        <td th:text="${usuario.correo}"></td>
				        <td th:text="${usuario.telefono}"></td>
				        <td><a type="button" class="btn btn-danger btn-sm" th:href="@{/usuarios/borrar/{nombreUsuario}(nombreUsuario=${usuario.nombreUsuario})}">Eliminar</a></td>
				      </tr>
				    </table>
			  </div>
			</div> 
        </div><!--  fin de mis datos -->
        
      </div>
      <div class="col-3 float-right">
        <div class="row p-5">
			<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#crearUsuario" >
				Nuevo Usuario
			</button>
        </div>
        <div class="row pl-5">
        	<a href="#" th:href="@{/}"><button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#pagPrincipal" >
				Página Principal
			</button></a>
        </div>
      </div> 
    </div>
  </header>

  		<!-- Añadir carpeta modal -->
		  <div class="modal fade" id="crearUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h4>
		          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">×</span>
		          </button>
		        </div>

                <form action="#" th:action="@{/usuarios/aniadir}" th:object="${usuario}" method="post">
			        <div class="modal-body">
			        
						  <div class="form-row">
						    <div class="form-group col-md-12">
						      <label for="texto">Usuario</label>
						      <input type="text" th:field="*{nombreUsuario}"  placeholder="Inserta el usuario" class="form-control" id="nombreUsuario" required>
						      <br>
						      <label for="texto">Nombre</label>
						      <input type="text" th:field="*{nombre}"  placeholder="Inserta el nombre" class="form-control" id="nombre" required>
						      <br>
						      <label for="texto">Apellidos</label>
						      <input type="text" th:field="*{apellidos}"  placeholder="Inserta los apellidos" class="form-control" id="apellidos" required>
						      <br>
						      <label for="texto">Contraseña</label>
						      <input type="password" th:field="*{contrasenia}"  placeholder="Inserta la contraseña" class="form-control" id="contrasenia" required>
						      <br>
						      <label for="texto">Correo</label>
						      <input type="email" th:field="*{correo}"  placeholder="Inserta el correo" class="form-control" id="correo" required>
						      <br>
						      <label for="texto">Telefono</label>
						      <input type="text" th:field="*{telefono}"  placeholder="Inserta el telefono" class="form-control" id="telefono" required>
						      <br>
						    </div>
		                  </div>
			        </div>
			        <div class="modal-footer">
		                <input type="submit" value="Añadir" class="btn btn-primary float-right">
		                <button data-dismiss="modal" class="btn btn-outline-danger float-right mr-2">Cancelar</button>
			        </div>
                </form>
		      </div>
		    </div>
		  </div>
</body>
</html>